body {
    font-size: 1.2em;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    background-color: darkslategray;
}
nav {
    height: inherit;
}
nav ul {
    display: flex;
    flex-flow: row nowrap;
    width: 400px;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    align-items: center;
    padding: 0;
    height: inherit;
}
header button {
    height: 40px;
}
main {
    max-width: 1100px;
}