body {
    margin: 0;
    margin-top: -25px;
    font-size: 1.2em;
}
#main-nav {
    width: 100%;
    background-color: gray;
    div {
        max-width: 90%;
        margin: 0 auto;
    }
    ul {
        display: flex;
        flex-flow: row nowrap;
        width: 400px;
        height: 70px;
        list-style-type: none;
        align-items: center;
        justify-content: space-between;
        font-size: 1.3em;
        padding: 0;
    }
    a:link, a:visited {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: white;
        text-decoration: underline;
    }
    a:active {
        text-decoration: none;
    }
}
main {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
#welcome-para {
    width: 500px;
}