#container {
  width: 300px;
  // border: 1px solid;
  padding: 30px 20px;
  font-family: helvetica, arial, san-serif;
  background-color: #f7f7f7;
}

#header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  color: gray;

  h2 {
    margin-top: 0;
  }

  p {
    background-color: gray;
    color: white;
    border-radius: 30px;
    margin-top: 0;
    padding: 2px 11px;
    font-size: 1.2em;
    font-weight: bold;
  }
}

#all-items {
  padding: 0;
}

.cart-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-top: 1px solid rgb(207, 207, 207);
  border-left: 1px solid rgb(207, 207, 207);
  border-right: 1px solid rgb(207, 207, 207);
  padding: 13px 20px;
  background-color: white;

  &:first-child {
    border-radius: 5px 5px 0px 0px;
  }

  &:last-child {
    border-radius: 0px 0px 5px 5px;
    border-bottom: 1px solid rgb(207, 207, 207);

    h4 {
      margin-top: 5px;
      font-weight: normal;
    }
    P {
      color: black;
    }
  }

  >p {
    font-weight: bold;
    color: #7d7d7d;
  }

  h4,
  p {
    margin-top: 0px;
    margin-bottom: 0;
  }

  div>p {
    font-size: .75em;
    margin-top: 5px;
    color: #7d7d7d;
    font-weight: bold;
  }
}

.promo {
  background-color: #f7f7f7;
  color: rgb(58, 180, 58);

  div>p,
  >p {
    color: rgb(58, 180, 58);
  }
}

#promo-code {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  input {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(207, 207, 207);
    font-size: .9em;
    width: 150px;
    padding: 11px 10px;
    font-weight: 550;
    color: #f7f7f7;
  }
  button {
    background-color: gray;
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: white;
    height: 40px;
    width: 90px;
    margin-left: -5px;
    font-weight: 600;
    font-size: 1em;
  }
}