body {
    max-width: 970px;
    margin: 0 auto;
}
header {
    background-color: #333;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 35px;
}
nav {
    background-color: #555;
    height: 50px;
    font-size: 1.2em;
}
nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    height: inherit;
    margin: 0;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}
nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
nav a:active {
    color: #FFBF00;
    text-decoration: underline;
}
main {
    min-height: 150px;
    padding: 30px 20px;
}
#introDiv {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around
}
#introDiv img {
    width: 45%;
}
#introDiv div {
    margin-left: 10em;
}
footer {
    background-color: #333;
    height: 100px;
    color: white;
    padding: auto auto;
    text-align: center;
    padding-top: 35px;
}